body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
}

/* main content */

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-top: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* sidebar */

.sidebar {
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* contacts */

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    color: #161D2A;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type { 
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-links {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts-item {
    margin-top: o;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* skills container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 12px;
}

.skills-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


