body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* wrapper */

.wrapper {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main content */

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-top: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* sidebar */

.sidebar {
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* contacts */

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    color: #161D2A;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type { 
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-links {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts-item {
    margin-top: o;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* skills container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 12px;
}

.skills-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* main content */

/* my info */

.my-profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21429;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-name {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.22222;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px;
}

.my-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #595959;
}

.my-info {
    margin-bottom: 40px;
}

/* my projects */

.my-projects-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22727;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-projects-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Work Experience */

.work-experience-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.work-experience-company {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

.company-name {
    color: #6D9BF5;
}

.work-experience-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-items {
    color: #595959;
    max-width: 526px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 24px; 
}

.work-experience-container {
    margin-bottom: 12px;
}

.work-experience-section {
    margin-bottom: 40px;
}

/* Education */

.education-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-university {
    color: #6d9bf5;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: normal;
}

.education-faculty {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.education-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.education-period-separator {
    color: #000;
}

@media screen and (max-width: 960px) {
    body {
        padding: 20px 20px 20px 20px;
    }
    
    .main-content {
        padding: 40px 40px 40px 40px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 250px;
    }

    .my-photo {
        width: 250px;
    }

    .sidebar-content {
        padding: 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .my-photo {
        width: 200px;
    }
        
    .sidebar {
        width: 200px;
    }

    .main-content {
        padding: 20px 20px 20px 20px;
    }

    .my-name {
        font-size: 28px;
    }
}

@media screen and (max-width: 510px) {
    .wrapper {
        flex-direction: column;
    }

    .my-photo {
        width: 200px;
    }
    
    .sidebar {
        width: 100%;
    }
}